<div class="w3-third">
    
  <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
      <img src="Webpage/Images/rfosse.jpg" align="middle" style="width:100%" alt="Avatar">
    </div>
    <div class="w3-container">
      <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>PhD student</p>
      <p><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-teal"></i>LaBRI, Office 356	</p>
      <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bordeaux, France</p>

      <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rohan.fosse@labri.fr</p>
      <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>05 40 00 84 19</p>
      <hr>

      <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>General Interests</b></p>
      <p>SAT problem</p>
      <div class="w3-pale-blue w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">&emsp; </div>
      </div>
      <p>Logic</p>
      <div class="w3-pale-blue w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
          <div class="w3-center w3-text-white">&emsp;</div>
        </div>
      </div>
      <p>Popularisation</p>
      <div class="w3-pale-blue w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">&emsp;</div>
      </div>
      <p>Graph Theory</p>
      <div class="w3-pale-blue w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">&emsp;</div>
      </div>
      <br>
    </div>
  </div><br>

<!-- End Left Column -->
</div>