---
layout: default
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-third">
 
      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h4 class="w3-opacity"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i><b>Télécharger les pdf</b></h4>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-primary">Enoncé</button>
          <button type="button" class="btn btn-outline-danger">Corrigé</button>
        </div>

      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        {{ content }}
        {% if page.comments != false and site.comments.isso or site.comments.disqus %}
        <hr>
        {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
        {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
        <noscript>Please enable JavaScript to view comments.</noscript>
        {% endif %}
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>