---
layout: default
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="accordion" id="myAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button type="button btn-block" class="accordion-button collapsed" data-bs-toggle="collapse"
              data-bs-target="#collapseOne">IF11 - Algorithme et Structure de données</button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
            <div class="card-body">
              {% if site.show_excerpts %}
              {% include home.html %}
              {% else %}
              {% include archive.html title="Posts" %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">2.
              PG109 - Programmation Impérative </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
              data-bs-target="#collapseThree">RE111 - Réseaux </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        {{ content }}
        {% if page.comments != false and site.comments.isso or site.comments.disqus %}
        <hr>
        {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
        {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
        <noscript>Please enable JavaScript to view comments.</noscript>
        {% endif %}
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>